@color-primary: #f4a836;
@color-primary-inverse: #fff;
@color-base-text: #000;
@color-ui-border:  rgba(0, 0, 0, 0.125);
@color-ui-gray:  #868e96;
@color-ui-inverse:  #fff;
@color-warning:  #d9534f;

@xxs:    ~"screen and (max-width: 576px)";
@xs:    ~"screen and (max-width: 768px)";
@sm:    ~"screen and (max-width: 992px)";
@md:    ~"screen and (max-width: 1200px)";
@lg:    ~"screen and (min-width: 1201px)";