.Form {
	display: table;

	.Form-row {
		display: table-row;
	}

	.Form-cell {
		display: table-cell;
		vertical-align: top;
	}
	.Form-cell--label {
		padding-right: 20px;
		text-align: right;
	}

	.Form-input {
		width: 100%;
	}

	textarea.Form-input {
		height: 100%;
		min-height: 100px;
		overflow: auto;
		overflow-x: hidden;
		resize: none;

		&:focus {
			min-height: 200px;
		}
	}

	.Form-input--bottomLine {
		border: 0;
		border-bottom: solid @color-ui-border 1px;

		&:focus {
			border-bottom: solid @color-ui-border 1px;
			outline: 0;			
		}
	}

	.Form-input--noborder {
		border: 0;

		&:focus {
			border: solid @color-ui-border 1px;
			outline: 0;
		} 
	}

	.Form-input--inline {
		border: 0;
		display: inline-block;

		&:focus {
			border: solid @color-ui-border 1px;
			outline: 0;
		} 
	}
}