.ProductCard {
	position: relative;
	display: inline-block;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid @color-ui-border;
	margin: 5px;
	width: 250px;
	height: 300px;
	.u-linkClean;
	color: @color-base-text;

	.ProductCard-image {
		height: 80%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-bottom: 1px solid @color-ui-border;

	}

	.ProductCard-body {
		margin: 5px;
	}

	.ProductCard-title {
	}
}