.Cocktail {
	display:flex;
	align-items: stretch;
	height: 100%;
	width: 100%;

	@media @sm{
		flex-direction: column;
	}

	h1 {
		font-size: 3.5rem;
	}

	.Cocktail-image {
		width: 40%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;

		@media @md {
			width: 50%;
			background-position: center;
		}

		@media @sm {
			width: 100%;
			height: 80%;	
		}
	}

	.Cocktail-content {
		padding: 35px;
		height: 100%;
		width: 100%;
	}
}