.Sidebar {
	margin: 0;
	background-color: @color-primary;
	color: @color-primary-inverse;
	width: 300px;
	height: 100vh;
	float: left;
	padding: 10px 20px;

	@media @md {
		width: 200px;
		height: 100vh;
		float: center;
	}

	@media @sm {
		height: auto;
		width: 100%;
	}
}