{extends '@layout.tpl'}
{block main}
<div class="Container" style="max-width: 750px; padding-top: 5rem;">
	<h1>404<br>
		<small>Takový recept neznáme, zkus to namíchat tady!</small>
	 </h1>
	<iframe id="gameEmbed" style="display: block;" width="750" height="450" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" allowfullscreen="" src="//media2.y8.com/y8-studio/Html5/bartender_make_right_mix/index.html"></iframe>
	<a href={""|url} class="h4">
			Zpět na úvodní stánku
		</a></div>
{/block}