.Button {
	.btn;
	background-color: @color-ui-gray;
	border-radius: none;
	color: @color-ui-inverse;
}

.Button--warning {
	background-color: @color-warning;
	color: @color-primary-inverse;
}

// Override bootstrap default
a:not([href]):not([tabindex]).Button,
a:not([href]):not([tabindex]):focus.Button,
a:not([href]):not([tabindex]):hover.Button {
	color: @color-ui-inverse;
}